<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd " >
        
        <!-- Dependency  -->
        <bean id = 'faculty' class="model.Faculty">
           <property name="fid" value="101"></property>
           <property name="fname" value="XXXXX"></property>
        </bean>
        
        <!-- Dependent -->
        <bean id='course' class="model.Course">
           <constructor-arg name="coursecode" value="26CS001"></constructor-arg>
           <constructor-arg name="cname" value="Full Stack Development"></constructor-arg>
           <constructor-arg name="faculty" ref="faculty"></constructor-arg>
        </bean>
</beans>
